.homepage {
    display: flex;
    flex-direction: column;
    padding: 20px 80px;
    align-items: center;
}

.directory-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;

    // Ampersand symbol here means the CSS class above it (.menu-item) and it wants to append the additional first-child selector
    // In regular css it is: .menu-item:first-child {}
    &.first-child {
        margin-right: 7.5px;
    }
    
    &.last-child {
        margin-left: 7.5px;
    }
    
    // Hover over `.content` to see what it does.
    // So any element that with a class of content inside any element with a class of menu-item will receive the styles below
    // In regular css it is: .menu-item .content {}
    .content {
        height: 90px;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid black;

        // Similar to above.
        // In regular css it is: .menu-item .content .title {}
        .title {
            font-weight: bold;
            margin-bottom: 6px;
            font-size: 22px;
            color: #4a4a4a;
        }

        .subtitle {
            font-weight: lighter;
            font-size: 16px;
        }
    }
}



